body{
font-family:Arial;
background:#062b22;
color:white;
margin:0;
text-align:center;
}

.header{
background:#0c3b2e;
padding:20px;
}

.dashboard{
display:flex;
justify-content:space-around;
margin:20px;
}

.card{
background:#114d3b;
padding:15px;
border-radius:10px;
width:30%;
}

.main-btn{
padding:15px;
font-size:18px;
background:#d4af37;
border:none;
border-radius:10px;
cursor:pointer;
}

#counter-number{
font-size:80px;
margin:30px;
}

.progress-container{
width:80%;
height:20px;
background:#333;
margin:auto;
border-radius:10px;
}

#progress-bar{
height:100%;
width:0%;
background:#4caf50;
border-radius:10px;
}

#tap-btn{
padding:20px;
font-size:18px;
margin-top:20px;
}

#rocket{
position:fixed;
left:-100px;
top:50%;
font-size:50px;
display:none;
animation:rocketFly 3s linear;
}

@keyframes rocketFly{
0%{left:-100px;}
100%{left:110%;}
}

#leaderboard{
list-style:none;
padding:0;
}

#leaderboard li{
background:#0c3b2e;
margin:5px;
padding:10px;
border-radius:5px;
}
